.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0 1em; /* 16px, 0 because affects min-height */
  min-height: 1rem;

  border: 3px solid var(--clr-black);
  border-radius: var(--br-xxl);
  color: var(--clr-black);

  /* font-size: var(--btn-font-md); */
  font-size: var(--btn-font-md);
  font-weight: var(--fw-bold);
  text-decoration: none;

  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    color: var(--clr-white);
    background-color: rgba(0, 0, 0, 0.5);
  }
  &:active {
    color: var(--clr-white);
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(2px);
  }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  background: transparent;
}
