/* 
--------------------------------------------------------------------------------
FOOTER
--------------------------------------------------------------------------------
*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#footer-row-1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: var(--sp-base);

  width: 100%;
  background-color: var(--bg-tr-white);
}

#footer-row-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: var(--sp-8);

  width: 100%;
  background-color: var(--bg-tr-black);
  padding: var(--sp-base) var(--sp-24);
}

#footer-links,
#footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--sp-base);
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
}
.footer-link {
  background-color: var(--bg-tr-white);
  border-radius: var(--br-md);
  width: 60px;
  height: 20px;
}
.footer-icon {
  height: 32px;
  width: 32px;
  background-color: var(--bg-tr-white);
  border-radius: var(--br-lg);
}
#footer-cards {
  display: flex;
  flex-direction: column;
  gap: var(--sp-base);
}
.footer-card {
  width: 100%;
  padding: var(--sp-base);
  margin-bottom: 0;
}
/* 
--------------------------------------------------------------------------------
BREAKPOINTS
--------------------------------------------------------------------------------
*/

/* MOBILE */
@media (min-width: 550px) {
  /* ... */
}
/* TABLET */
@media (min-width: 768px) {
  /* ... */
  #footer-cards {
    flex-direction: row;
  }
}
/* DESKTOP */
@media (min-width: 1080px) {
  /* ... */
  #footer-row-1 {
    height: 300px;
    padding: var(--sp-24);
  }
  #footer-row-2 {
    flex-direction: row;
    padding: var(--sp-24) var(--sp-40);
  }

  .footer-card {
    max-width: 400px;
  }
}
/* DESKTOP L */
@media (min-width: 1280px) {
  /* ... */
}
/* DESKTOP 1L */
@media (min-width: 1440px) {
  /* ... */
}
/* DESKTOP 2L */
@media (min-width: 1920px) {
  /* ... */
}
