:root {
  --h-logo-col-width: 94px;
}

/* 
--------------------------------------------------------------------------------
HEADER
--------------------------------------------------------------------------------
*/

#header {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-tr-white);
}

/* Header variants paddings */
.header--serp {
  padding: var(--sp-base) var(--sp-base) 0 var(--sp-base);
}
.header--search,
.header--simple {
  padding: var(--sp-base);
}

/* Header variants row 1 grid  */
.header--search div#header-row-1,
.header--serp div#header-row-1 {
  display: grid;
  grid-template-areas:
    "spacer logo buttons" /* Top row */
    "search search search"; /* Bottom row */
  grid-template-columns: 1fr 1fr 1fr; /* Two equal-width columns */
  grid-template-rows: auto auto;
  align-items: center;
}
.header--simple div#header-row-1 {
  display: grid;
  grid-template-areas: "spacer logo buttons";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  align-items: center;
}

/* Row 2 */
/* FIXME: ad grid instead of flex */
/* FIXME: Overflow x issue */
#header-row-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  margin-top: var(--sp-8);
}

/* 
--------------------------------------------------------------------------------
LOGO
--------------------------------------------------------------------------------
*/

/* Logo */

#header-logo {
  /* Position */
  grid-area: logo;
}
.header-logo--serp {
  justify-self: center;
  margin-right: 0;
}
.header-logo--browser,
.header-logo--default {
  /* Position */
  justify-self: center;
  margin-right: 0;
}
.header-logo--browser {
  background-image: url("/ecosia-logo--browser.png");
  /* Properties */
  height: 35px;
  width: 70px;
}
.header-logo--default,
.header-logo--serp {
  /* Properties */
  background-image: url("/ecosia-logo.png");
  height: 20px;
  width: 80px;
}

/* 
--------------------------------------------------------------------------------
HEADER CONTENT
--------------------------------------------------------------------------------
*/

/*  Search input */

#header-search {
  /* Position */
  grid-area: search;
  margin-top: var(--sp-base);

  /* Properties */
  max-width: none;
  height: 40px;
  width: 100%;
  border-radius: var(--br-lg);
  border: 2px solid var(--bg-tr-whitest);
}

/* Spacers */

.grid-spacer--width {
  grid-area: spacer;
  width: 100%;
}

/* Buttons */

.header-button {
  width: 40px;
  height: 40px;
  border-radius: var(--br-lg);
}
.header-button--lg {
  display: none;
}
#header-buttons {
  /* Position */
  grid-area: buttons; /* Place in the buttons area */
  display: flex; /* Align buttons in a row */
  justify-content: end;
  gap: var(--sp-8); /* Space between buttons */
  margin-left: var(--sp-8);
}

/* Tabs */

#header-tabs {
  /* Flex */
  display: flex;
  flex-direction: row;
  gap: var(--sp-8);

  /* Properties */
  height: 40px;
  padding: 0;
  list-style: none;
}

.header-tab {
  width: 70px;
  border-radius: var(--br-sm) var(--br-sm) 0 0;
}

/* 
--------------------------------------------------------------------------------
BREAKPOINTS
--------------------------------------------------------------------------------
*/

/* ------------------------------------- MOBILE */

@media (min-width: 550px) {
  /* ... */
}

/* ------------------------------------- TABLET */

@media (min-width: 768px) {
  /* ... */
}

/* ------------------------------------- DESKTOP */

@media (min-width: 1080px) {
  /* ---- LAYOUT ---- */

  /* Header variants paddings */
  .header--serp {
    padding: var(--sp-base) var(--sp-24) 0 var(--sp-24);
  }
  .header--search,
  .header--simple {
    padding: var(--sp-base) var(--sp-24) var(--sp-base) var(--sp-24);
  }

  /* Header variants row 1 grid  */
  .header--search div#header-row-1,
  .header--serp div#header-row-1 {
    display: grid;
    grid-template-areas: "logo search spacer buttons";
    grid-template-columns: var(--h-logo-col-width) 1fr auto auto;
    grid-template-rows: auto;
    align-items: center;
  }
  .header--simple div#header-row-1 {
    display: grid;
    grid-template-areas: "logo spacer buttons";
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    align-items: center;
  }

  /* ---- CONTENT ---- */

  .header-logo--serp {
    justify-self: start;
  }
  .header-logo--browser,
  .header-logo--default {
    justify-self: start;
  }
  .header-button--lg {
    display: flex;
    width: 260px;
    height: 40px;
    border-radius: var(--br-lg);
  }
  #header-search {
    margin-top: 0;
    max-width: 660px; /* Limit max-width */
    width: 100%; /* Full width */
  }
  #header-tabs {
    /* margin-left: 96px; */
  }
}

/* ------------------------------------- DESKTOP L */

@media (min-width: 1280px) {
  /* ---- LAYOUT ---- */

  .header--search div#header-row-1,
  .header--serp div#header-row-1 {
    grid-template-columns: var(--h-logo-col-width) 1fr auto auto;
  }

  /* ---- CONTENT ---- */

  #header-tabs {
    /* margin-left: 96px; */
  }
}

/* ------------------------------------- DESKTOP 1L */

@media (min-width: 1440px) {
  /* ---- LAYOUT ---- */

  .header--search div#header-row-1,
  .header--serp div#header-row-1 {
    grid-template-columns: 156px 1fr auto auto;
  }

  /* ---- CONTENT ---- */

  /* #h-logo {
    margin-right: 86px;
  } */
  .header-logo--serp {
    margin-right: 24px;
    justify-self: end;
  }
  #header-tabs {
    margin-left: 156px;
  }
}

/* ------------------------------------- DESKTOP 2L */

@media (min-width: 1920px) {
  /* ... */

  /* ---- LAYOUT ---- */

  .header--search div#header-row-1,
  .header--serp div#header-row-1 {
    grid-template-columns: 216px 1fr auto auto;
  }

  /* ---- CONTENT ---- */

  #header-tabs {
    margin-left: 216px;
  }
}
