#info {
  display: flex;
  flex-direction: column;
  padding: var(--sp-base);

  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #f3e24d 0,
    #f3e24d 4px,
    yellow 0,
    yellow 50%
  );

  & h5 {
    margin: 0;
    text-transform: uppercase;
    font-weight: var(--fw-black);
  }
}
