/* 
--------------------------------------------------------------------------------
FOUNDATION
--------------------------------------------------------------------------------
*/

body {
  font-family: var(--ff-plain);
  color: var(--clr-black);
  overflow-x: hidden;
  background-image: var(--gr-expresso);
}

/* 
@ desktop-2L
Offset: 240px
Mainline: 654px / margin 16 / gutter 16
Sideline: 360px / margin 16 / gutter 16

@ desktop-1L
Offset: 180px
Mainline: 654px / margin 16 / gutter 16
Sideline: 360px / margin 16 / gutter 16

@ desktop-L
Offset: 120px
Mainline: 654px / margin 16 / gutter 16
Sideline: 360px / margin 16 / gutter 16

@ desktop
Offset: 0px
Mainline: 654px / margin 16 / gutter 16
Sideline: 360px / margin 16 / gutter 16

@ tablet
Stack mainline and sideline
4 Columns / margin 16 / gutter 16

@ mobile
4 Columns / margin 16 / gutter 16

*/

/* 
--------------------------------------------------------------------------------
WRAPPERS
--------------------------------------------------------------------------------
*/

.section-wrapper {
  &:nth-of-type(even) {
    background-color: var(--bg-tr-black);
  }
  &:nth-of-type(odd) {
    background-color: var(--bg-tr-blackest);
  }
}

.wrapper--index {
  padding: var(--sp-40) 0;
}

.wrapper--fixed {
  margin: 0 auto;
  width: fit-content;
}

.wrapper--full-width {
  display: grid;
  grid-template:
    "left" auto
    / auto;
  min-height: 640px;
}

.wrapper--serp {
  margin: 0px auto;
  width: fit-content;
}

/* 
--------------------------------------------------------------------------------
SERP
--------------------------------------------------------------------------------
*/

.container--serp {
  display: grid;
  grid-template-columns: minmax(0, 654px);
  gap: var(--sp-base);
}

#mainline > :last-child {
  margin-bottom: 0;
}

#sideline {
  /* padding: 0 var(--sp-base); */
}

/* 
--------------------------------------------------------------------------------
INDEX / NTP
--------------------------------------------------------------------------------
*/

/* Index/ecosia.org [Extension NOT installed ] */
.container--left-full {
  grid-area: left;
  padding: 0 var(--sp-base);
}

.container--right-full {
  display: none;
}

.container--index-search {
  /* Flex */
  display: flex;
  flex-direction: column;
  gap: var(--sp-48);
  align-items: center;

  padding: var(--sp-base);

  /* Properties */
  max-width: 380px;
  margin: 0 auto;
  height: 100%;
}

.container--index {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Properties */
  max-width: 280px;
  margin: 0 auto;
  height: 100%;
}

.container--index-hero {
  display: flex;
  flex-direction: column;
  gap: var(--sp-base);
  max-width: 380px;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
}

/* SUB CONTAINER  */

/* FIXME: Make generic for a container (children) */
.sub-container {
  /* Grid */
  display: grid;
  gap: var(--sp-24);
  grid-template-columns: 1fr;

  & > * {
    padding: var(--sp-12);
    background-color: var(--bg-tr-white);
  }
}

/* NTP content */

.ntp-logo {
  height: 48px;
  width: 192px;
  background-image: url("/ecosia-logo--lg.png");
}

.ntp-search {
  height: 60px;
  width: 100%;
  border-radius: var(--br-xxl);
  border: 2px solid var(--bg-tr-whitest);
}

.ntp-sites {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--sp-32);
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.ntp-top-site {
  height: 48px;
  width: 48px;
  background-color: var(--bg-tr-white);
  border-radius: var(--br-xxl);
}

/* 
--------------------------------------------------------------------------------
DEFAULT
--------------------------------------------------------------------------------
*/

.container--fixed {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Properties */
}

/* 
--------------------------------------------------------------------------------
BREAKPOINTS
--------------------------------------------------------------------------------
*/

/* MOBILE */
@media (min-width: 550px) {
  /* ... */
  .wrapper--serp {
    /*  */
  }
  .container--index {
    max-width: 400px;
  }
}
/* TABLET */
@media (min-width: 768px) {
  /* ... */
  .wrapper--serp {
    /*  */
  }
  .container--index {
    max-width: 460px;
  }
  .container--index-search {
    max-width: 620px;
  }
}
/* DESKTOP */
@media (min-width: 1080px) {
  .container--fixed {
    max-width: 992px;
    margin: auto;
  }
  /* ... */
  .wrapper--serp {
    margin: auto;
    width: fit-content;
  }
  .container--serp {
    grid-template-columns: 654px 360px;
    gap: 40px;
  }
  #sideline {
    padding: 0;
  }
  /*  */
  .container--index {
    max-width: 992px;
  }
  .container--index-search {
    max-width: 800px;
  }

  .wrapper--full-width {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    min-height: 640px;
  }
  .container--right-full {
    grid-area: right;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container--left-full {
    padding: 0;
  }

  .container--index-hero {
    max-width: 380px;
  }

  /*  */
  .col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* DESKTOP L */
@media (min-width: 1280px) {
  .container--fixed {
    max-width: 1200px;
    margin: auto;
  }
  /* ... */
  .wrapper--serp {
    margin-left: 120px;
  }
  .container--index-hero {
    max-width: 485px;
  }
}
/* DESKTOP 1L */
@media (min-width: 1440px) {
  /* ... */

  .container--fixed {
    max-width: 1400px;
    margin: auto;
  }

  .wrapper--serp {
    margin-left: 180px;
  }
}
/* DESKTOP 2L */
@media (min-width: 1920px) {
  /* ... */
  .wrapper--serp {
    margin-left: 240px;
  }
}
