/* 
--------------------------------------------------------------------------------
FOUNDATIONS
--------------------------------------------------------------------------------
*/

body {
  font-family: var(--ff-plain);
  color: var(--clr-black);
  /* 
    To sort horizontal scroll bar issue 
    when using full-with trick on image and callout
    vw unit counts under the vertical scrollbar
    */
  overflow-x: hidden;

  /* Default background gradient if none defined */
  background-image: var(--gr-expresso);
}

/* 
@ desktop-2L
Offset: 240px
Mainline: 654px / margin 16 / gutter 16
Sideline: 360px / margin 16 / gutter 16

@ desktop-1L
Offset: 180px
Mainline: 654px / margin 16 / gutter 16
Sideline: 360px / margin 16 / gutter 16

@ desktop-L
Offset: 120px
Mainline: 654px / margin 16 / gutter 16
Sideline: 360px / margin 16 / gutter 16

@ desktop
Offset: 0px
Mainline: 654px / margin 16 / gutter 16
Sideline: 360px / margin 16 / gutter 16

@ tablet
Stack mainline and sideline
4 Columns / margin 16 / gutter 16

@ mobile
4 Columns / margin 16 / gutter 16

*/

/* 
--------------------------------------------------------------------------------
SERP
--------------------------------------------------------------------------------
*/

.serp-container {
  margin: 0px auto;
  color: var(--clr-white);

  & h5 {
    margin: 0 0 var(--sp-base) 0;

    & span {
      font-weight: var(--fw-light);
    }
  }
}
.title-block {
  padding: var(--sp-12);

  & > :first-child {
    margin: 0;
    text-transform: uppercase;
    font-weight: var(--fw-black);
  }

  & span {
    font-weight: var(--fw-bold);
  }
}

.serp-sub-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--sp-base);
}

.skeleton,
#mainline,
#sideline {
  background-color: var(--bg-tr-white);
}

#mainline > :last-child {
  margin-bottom: 0;
}

#sideline {
  padding: 0 var(--sp-base);
}

.serp-container,
.skeleton--black {
  background-color: var(--bg-tr-black);
}

/* 
--------------------------------------------------------------------------------
INDEX CURRENT
--------------------------------------------------------------------------------
*/

.index-wrapper {
  &:nth-of-type(even) {
    background-color: var(--bg-tr-black);
  }
  &:nth-of-type(odd) {
    background-color: var(--bg-tr-blackest);
  }
}

.wrapper--center {
  padding: var(--sp-40) 0;
}

.wrapper--full {
  display: grid;
  grid-template:
    "left" auto
    / auto;
  min-height: 640px;
}

.sub-container--left {
  grid-area: left;
  background-color: var(--bg-tr-white);
  padding: 0 var(--sp-base);
}

.sub-container--right {
  display: none;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: var(--sp-base);
  max-width: 380px;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100%;
  background-color: var(--bg-tr-whitest);

  & h4 {
    margin: 0;
    text-transform: uppercase;
    font-weight: var(--fw-black);
  }
}

.counter {
  height: 103px;
  width: 100%;
  background-color: var(--bg-tr-whitest);
  border-radius: var(--br-lg);
}

.index-cur-container,
.index-new-container {
  /* Properties */
  color: var(--clr-white);

  & h5 {
    margin: 0;
    text-transform: uppercase;
    font-weight: var(--fw-black);
  }
}

.index-cur-container {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;

  /* Properties */
  max-width: 280px;
  margin: 0 auto;
  height: 100%;
  background-color: var(--bg-tr-white);

  /* padding: var(--sp-base); */
}
.index-sub-container {
  /* Grid */
  display: grid;
  gap: var(--sp-24);
  grid-template-columns: 1fr;

  /* Properties */
  color: var(--clr-black);

  & > * {
    padding: var(--sp-12);
    background-color: var(--bg-tr-white);
  }
}

.index-search-container {
  /* Flex */
  display: flex;
  flex-direction: column;
  gap: var(--sp-base);
  align-items: center;

  /* Properties */
  max-width: 380px;
  margin: 0 auto;
  height: 100%;
}
.ntp-logo {
  height: 48px;
  width: 192px;
  border-radius: var(--br-lg);
  background-color: var(--bg-tr-whitest);
}
.ntp-search {
  height: 60px;
  width: 100%;

  background-color: var(--bg-tr-white);
  border-radius: var(--br-lg);
  border: 2px solid var(--bg-tr-whitest);
}
/* 
--------------------------------------------------------------------------------
HERO SEARCH
--------------------------------------------------------------------------------
*/

.hero-search {
}

/* 
--------------------------------------------------------------------------------
BLOCKS
--------------------------------------------------------------------------------
*/

.block-result,
.block-card {
  padding: var(--sp-12);
  background-color: var(--bg-tr-white);
  margin-bottom: var(--sp-base);
  color: var(--clr-black);

  & > :first-child {
    text-transform: uppercase;
    font-weight: var(--fw-black);
    font-size: var(--fs-sm);
  }
}

.block-result {
  /* --- */
}

.block-card {
  border-radius: var(--br-lg);
}

/* 
--------------------------------------------------------------------------------
GRID
--------------------------------------------------------------------------------
*/

.grid {
  display: grid;
  gap: var(--sp-base); /* Gutter space */
  padding: var(--sp-base); /* Margin */
  background-color: var(--bg-tr-white);
}
.grid-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.column {
  color: var(--clr-black);
  background-color: var(--bg-tr-whitest);
  padding-top: var(--sp-8);
  text-align: center; /* Visual indicator of column borders */
  border-radius: var(--br-sm);
  height: 500px;
}

/* 
--------------------------------------------------------------------------------
BREAKPOINTS
--------------------------------------------------------------------------------
*/

/* MOBILE */
@media (min-width: 550px) {
  /* ... */
  .serp-container {
    /*  */
  }
  .index-cur-container {
    max-width: 400px;
  }
}
/* TABLET */
@media (min-width: 768px) {
  /* ... */
  .serp-container {
    /*  */
  }
  .index-cur-container {
    max-width: 460px;
  }
  .index-search-container {
    max-width: 620px;
  }
}
/* DESKTOP */
@media (min-width: 1080px) {
  /* ... */
  .serp-container {
    margin: auto;
    width: fit-content;
  }
  .serp-sub-container {
    grid-template-columns: 654px 360px;
    gap: 40px;
  }
  #sideline {
    padding: 0;
  }
  /*  */
  .index-cur-container {
    max-width: 992px;
  }
  .index-search-container {
    max-width: 800px;
  }

  .wrapper--full {
    display: grid;
    grid-template-areas: "left right";
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    min-height: 640px;
  }
  .sub-container--right {
    display: flex;
    grid-area: right;
    background-color: var(--bg-tr-black);
  }
  .sub-container--left {
    padding: 0;
  }

  .hero-content {
    max-width: 380px;
  }

  /*  */
  .col-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .col-3 {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* DESKTOP L */
@media (min-width: 1280px) {
  /* ... */
  .serp-container {
    margin-left: 120px;
  }
  .hero-content {
    max-width: 485px;
  }
}
/* DESKTOP 1L */
@media (min-width: 1440px) {
  /* ... */

  .serp-container {
    margin-left: 180px;
  }
}
/* DESKTOP 2L */
@media (min-width: 1920px) {
  /* ... */
  .serp-container {
    margin-left: 240px;
  }
}
