:root {
  --columns-mobile-s: 1;
  --columns-mobile: 2;
  --columns-tablet: 6;
  --columns-desktop: 12;
  --columns-desktop-l: 12;
}
/* 
--------------------------------------------------------------------------------
WIREFRAME UTILITIES
--------------------------------------------------------------------------------
*/
.skeleton--white {
  background-color: var(--bg-tr-white);
}

.skeleton--whitest {
  background-color: var(--bg-tr-whitest);
}

.skeleton--black {
  background-color: var(--bg-tr-black);
}
.skeleton--blackest {
  background-color: var(--bg-tr-blackest);
}

.text--white {
  color: var(--clr-white);
}

.text-black {
  color: var(--clr-black);
}

.text--title {
  text-transform: uppercase;
  font-weight: var(--fw-black);
  margin: 0;
}

/* 
--------------------------------------------------------------------------------
BLOCKS
--------------------------------------------------------------------------------
*/

/* 
--------------------------------------------------------------------------------
BLOCKS
--------------------------------------------------------------------------------
*/

/* SERP Search results and cards */
.block--result,
.block--card {
  padding: var(--sp-12);
  background-color: var(--bg-tr-white);
  margin-bottom: var(--sp-base);
  color: var(--clr-black);

  & > :first-child {
    text-transform: uppercase;
    font-weight: var(--fw-black);
    font-size: var(--fs-sm);
  }
}

.block--card {
  border-radius: var(--br-lg);
}

/* Page titles */
.block--title {
  padding: var(--sp-12);

  & > :first-child {
    margin: 0;
    text-transform: uppercase;
    font-weight: var(--fw-black);
  }

  & span {
    font-weight: var(--fw-bold);
  }
}

/* 
--------------------------------------------------------------------------------
GRID
--------------------------------------------------------------------------------
*/

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(var(--columns-mobile-s), 1fr);
  gap: var(--sp-base); /* Gutter space */
  padding: var(--sp-base); /* Margin */
  background-color: var(--bg-tr-white);
}
.grid-item {
  display: flex;
  justify-content: center;
  background-color: var(--bg-tr-whitest);
  border-radius: var(--br-sm);
  min-height: 200px;
  padding-top: var(--sp-base);
  & span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-black);
    color: var(--clr-black);
    text-transform: uppercase;
    width: 40px;
    height: 40px;
    background-color: var(--bg-tr-black);
    border-radius: var(--br-xxl);
  }
}

/* MOBILE */
@media (min-width: 550px) {
  .responsive-grid {
    grid-template-columns: repeat(var(--columns-mobile), 1fr);
  }
  /* ... */
}
/* TABLET */
@media (min-width: 768px) {
  .responsive-grid {
    grid-template-columns: repeat(var(--columns-tablet), 1fr);
  }
}
/* DESKTOP */
@media (min-width: 1080px) {
  .responsive-grid {
    grid-template-columns: repeat(var(--columns-desktop), 1fr);
  }
}
/* DESKTOP L */
@media (min-width: 1280px) {
  /* ... */
}
/* DESKTOP 1L */
@media (min-width: 1440px) {
  /* ... */
}
/* DESKTOP 2L */
@media (min-width: 1920px) {
  /* ... */
}
